
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;

}

.main_title{
    display: flex;
    justify-content: center;
    margin:20px ;
}

.main_content{
    width: 100%;
    height: 100 vh ;
    display: inline-flex;
}
.texto{
    width: 1000px;
    height: 500px;
    margin: 20px;
    resize: none;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 15px;
}

iframe{

    width: 900px;
    height: 500px;
    margin: 20px;
    resize: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    margin-left: 20%;

}
/* Agrega estos estilos al final de tu archivo styleEdit.css o ajusta según sea necesario */

/* Estilo del botón de descarga */
button {
    background-color: #ec59c0eb; /* Cambia este color según tus preferencias */
    color: white;
    padding: 20px 30px; /* Ajusta el tamaño del botón según tus preferencias */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    margin-left: 45%;
}



/* Estilo del botón al pasar el ratón por encima */
button:hover {
    background-color: #5ca3c6; /* Cambia este color según tus preferencias */
}

#conteiner{
    padding-top: 5px;
    padding-bottom: 100px;
}
